
.range-input {
    position: relative;
    width: 500px;
}

.input-column > .row {
    display: flex;
    flex-wrap: nowrap !important;
    align-content: space-between;
    justify-content: center;
}

.slider-setting {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.row > .col {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row > .input-column {
    display: flex;
    justify-content: space-around;
}

.form-label {
    margin-bottom: 0 !important;
    
    padding-right: 5px;
    font-size: 12px;
} 

.form-range {
    width:60% !important;
    height: 0.5rem !important;
}

.row > .survival {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 200px;
}

.row > .col-3 {
    width: 100px;
}

.changeNum {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#survival-max {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(110, 110, 110);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 0 0 10px;
    font-size: 13px;
}

#neighbors-max {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(110, 110, 110);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 0 0 10px;
    font-size: 13px;
}

.changeNum-column {
    display: flex;
    flex-direction: column;
}

.changeNum-column > .btn {
    height: 20px;
    padding: 0 10px;
    line-height: 18px;
}

.changeNum-column > .btn-up {
    border-radius: 0 10px 0 0;
}

.changeNum-column > .btn-down {
    border-radius: 0 0 10px 0;
}

.fourButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.reset-row {
    width: 23%;
    border-radius: 10px !important;
    font-size: 13px !important;
    height: 40px;
}

.form-floating > .form-select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 5px !important;
    min-height: 0 !important;
    height: 40px !important;
}