body {
    font-family: 'Anek Gurmukhi' !important;
}

h1 {
    display: flex;
    justify-content: center;
    letter-spacing: 8px;
    padding-top: 50px;
}

#canvas {
    display: block;
    padding: 0 50px 10px;
    cursor: cell;
}

.sliderAndPattern {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 70px 10px;
}

.gameSpeedBox {
    display: flex;
    flex-wrap: nowrap;
    height: 30px;
}

.sliderName {
    display: flex;
    align-items: center;
    padding: 3px 10px 0 0;
    font-size: 15px;
}

/* range */
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 15px 0;
    min-width: 250px;
    outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 3px;
    background-color: #007AFF !important;
    cursor: pointer;
    cursor: hand;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: -7px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    cursor: hand;
}

input[type='range']::-moz-range-track {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 1px !important;
    cursor: pointer;
    cursor: hand;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none !important;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: -7px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    cursor: hand;
}

input[type='range']::-ms-track {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 1px !important;
    cursor: pointer;
    cursor: hand;
}

input[type='range']::-ms-thumb {
    -webkit-appearance: none !important;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    height: 15px;
    width: 15px;
    border-radius: 15px;
    margin-top: -7px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    cursor: hand;
    */
}

/* range */

#floatingSelect {
    border-radius: 10px;
    padding: 5px 0 0 0px !important;
    min-height: 0 !important;
    height: 30px !important;
    font-size: 15px;
    text-align: center;
}

.form-select {
    width: 250px !important;
    border: 0.5px solid rgba(0, 0, 0, 0.04) !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.1) !important;
}

option:checked {
    color: white;
    background: #007AFF repeat url("mycolor.gif");
}



.input-column>.row {
    display: flex;
    flex-wrap: nowrap !important;
    align-content: space-between;
    justify-content: center;
}

.slider-setting {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.row>.col {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.row>.input-column {
    display: flex;
    justify-content: space-around;
}




.form-range {
    width: 60% !important;
    height: 0.5rem !important;
}

.row>.survival {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 200px;
}

.row>.col-3 {
    width: 100px;
}

.changeNum {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#survival-max {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(110, 110, 110);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 0 0 10px;
    font-size: 13px;
}

#neighbors-max {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: rgb(110, 110, 110);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 0 0 10px;
    font-size: 13px;
}

.changeNum-column {
    display: flex;
    flex-direction: column;
}

.changeNum-column>.btn {
    height: 20px;
    padding: 0 10px;
    line-height: 18px;
}

.changeNum-column>.btn-up {
    border-radius: 0 10px 0 0;
}

.changeNum-column>.btn-down {
    border-radius: 0 0 10px 0;
}

.fourButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.reset-row {
    width: 23%;
    border-radius: 10px !important;
    font-size: 13px !important;
    height: 40px;
}